<!-- <header>
    <div class="container">
        <a routerLink="/" class="logo">Food Corner</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Cart</a>
                </li>
            </ul>
        </nav>
    </div>
</header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand ms-2" routerLink="/">Food Corner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link ms-3" routerLink="/">Home </a>
        <a class="nav-item nav-link ms-3" routerLink="/">Cart</a>
        <a class="nav-item nav-link ms-3" href="#" routerLink="/">Pricing</a>
        <a class="nav-item nav-link ms-3 disabled" href="#" routerLink="/">Disabled</a>
      </div>
    </div>
  </nav>

